venv/
django_project/venv/
django_project/.idea/
.idea/
.git/
__pycache__/
/init_container/utils/
/staticfiles/
/nginx/staticfiles/
/init_container/tests/
/init_container/config/.vault
/init_container/config/.env.dump
*.pyc
/TODO
/system/secrets/logs/
/system/secrets/.vault
/system/config/.vault_credentials
/system/config/.env
/system/logs/
/main.py
/directory_structure.txt
