/.env
venv/
.idea/
.git/
*.pyc
__pycache__/
error.log
/dev
/to_implement.py
/Dockerfile
/my_gitmodules
/utils/
/temp.py
/test.html
/master.key
/config/.env
/config/.env.enc
/config/.env.dump
/config/.vault
/staticfiles/
/nginx/staticfiles/
