venv/
django_project/venv/
.idea/
.git/
__pycache__/
/init_container/utils/
/staticfiles/
/nginx/staticfiles/
/init_container/tests/
/init_container/config/.vault
/init_container/config/.env.dump
*.pyc
/TODO
/secrets/logs/
/secrets/.vault
/secrets/.vault_credentials
