version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: redis-container
    ports:
      - "${REDIS_EXTERNAL_PORT}:${REDIS_EXTERNAL_PORT}"
    volumes:
      - redis_data:/data
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "PING" ]
      interval: 10s
      timeout: 5s
      retries: 2
    networks:
      - app_network
    env_file:
      - config/.env.dump

  django:
    container_name: djangologger-container-v1
    build:
      context: .
    env_file:
      - config/.env.dump
    networks:
      - app_network
    depends_on:
      - redis
    command: python manage.py runserver 0.0.0.0:8000  # in container
    expose:
      - "8000"  # in docker network

  nginx:
    build:
      context: nginx
    container_name: nginx-container
    ports:
      - "80:80"
    volumes:
      - ./nginx/staticfiles:/nginx/staticfiles
    depends_on:
      - django
    networks:
      - app_network

volumes:
  redis_data:

networks:
  app_network:
    driver: bridge