{% extends "base_logged_in.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_styles %}
<!-- JS/CSS -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

{% endblock %}

{% block content %}

<h1 style="text-align: center;">User Loggers</h1>

{% if loggers %}
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Destination</th>
        <th>Fake URL</th>
    </tr>
    </thead>
    <tbody>
    {% for logger in loggers %}
    <tr>
        <td>{{ logger.id }}</td>
        <td>{{ logger.destination }}</td>
        <td>{{ logger.fake_url }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p style="text-align: center;">No loggers found for the user.</p>
{% endif %}

<div class="create-logger-container">
    <button type="button" onclick="toggleCreateLoggerForm()">Create Logger</button>
    <div id="create-logger-form" class="create-logger-form">
        <form method="POST" action="{% url 'dashboard_app:dashboard' %}">
            {% csrf_token %}
            <label for="destination">Destination (URL):</label>
            <input type="url" name="destination" id="destination" required placeholder="Enter a valid URL">
            <button type="submit">Create</button>
        </form>
    </div>
</div>

{% endblock %}
